{%
	from 'derived-vars.jinja' import
		optional_opts,
		required_opts,
		additive_flags,
		options_metavars,
		verbosity_switch,
		has_opts,
		getopts_str
	with context
%}
{% if include_header %}
{% include 'common-header.bash.jinja' %}
{% endif %}
{% if include_common_functions %}

{% include 'common-functions.bash.jinja' %}
{% endif %}
{% if include_extra_functions %}

{% include 'extra-functions.bash.jinja' %}
{% endif %}

{% include 'function.bash.jinja' %}
{% if function_name == "main" %}

{{ function_name }} "$@"
{% endif %}

